/* ARQUIVO DE ESTILO DO PORTAL */

/* Estilo geral */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

/* ESTILOS DO HEADER */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #005A8A;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagem_logo img {
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav li a {
    color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}

nav li a:hover {
	border: outset;
	border-style: solid;
	border-width: 5px;
	border-color: #F5A623;
	background-color: #F5A623;
	border-radius: 10px;
}
label{
	color: #F5A623;
	align-items: center;
}

h1 {
    font-size: 30px;
	color: #FFFFFF;
}


/* ESTILOS DO MAIN */
main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

/* Estilos para as seções */
section {
	margin-bottom: 50px;
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
	color: blue;
	font-style: Arial;
}

.pousadas {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pousada {
	width: 300px;
	margin-right: 30px;
	margin-bottom: 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	overflow: hidden;
}

.imgPousadas {
	height: 200px;
	overflow: hidden;
}

.imgPousadas img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

h3 {
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	color: blue;
}

p {
	padding: 20px;
	font-size: 16px;
	line-height: 1.5;
}

/* Estilos para o rodapé */
footer {
	background-color: #f2f2f2;
	padding: 20px;
	text-align: center;
	font-size: 14px;
	margin-top: 50px;
}
.barra_topo{

	display: flex;
	flex-direction: column;


}

.barra_topo_n1{

	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	align-items: center;
	padding: 1rem;

}

.barra_topo_n1 > img{
	
	width: 100px;

}


.barra_topo_n2{

	padding: 0.5rem;
	background: #00008B;

}

.menu_admin{

	list-style:none;
	float:left;
	width: 100%;

}

.menu_admin li{

	position: relative;
	float:left;
	border-right: 1px solid #FFF;
	font-size: 1.2rem;
	width: 10%;
	text-align: center;


}

.menu_admin li a{

	color:#FFF; 
	text-decoration:none; 
	padding: 1rem 1rem; 
	display:block;

}

.menu_admin li a:hover{

	background: #00BFFF;
	color: #FFF;
	font-weight: 600;

}


.menu_admin li  ul{
	
	position:absolute;
	top:35px;
	left:0;
	background: #00008B;
	display:none;
	
}

.menu_admin li:hover ul, .menu li.over ul{
	
	display:block;

}

.menu_admin li ul li{
	
	border-bottom:1px solid #FFF;
	display:block;
	width: 200px;
	text-align: left;
}
